@using Brnkly.Framework.Administration.Models;
@model MachineGroupEditModel

<div data-role="collapsible" data-theme="c" data-content-theme="c"  data-collapsed="false">
    <h3>@Model.Name</h3>
            
    <div class="collapsible-header-button">
        @Html.ActionLink(
            "Delete group " + Model.Name, "DeleteGroup",
            new { groupName = Model.Name },
            new { data_theme = "e", data_role = "button", data_icon = "delete", data_iconpos = "notext", data_inline = "true" } )
    </div>

    <ul data-role="listview" data-split-icon="delete">
        @foreach (var machineName in Model.MachineNames)
        {
        <li>
            <a href="#">@machineName</a>
            @Html.ActionLink(
                "Delete machine " + machineName, "DeleteMachine",
                new { groupName = Model.Name, machineName = machineName },
                new { data_theme = "e" })
        </li>
        }
    </ul>
        
    @using (Html.BeginForm("AddMachine", "MachineGroups")) {
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="machine">Add machine to @Model.Name:</label>
            <input type="text" name="machineName" placeholder="Add machine to @Model.Name" data-theme="d" />
            <input type="hidden" name="groupName" value="@Model.Name" />
        </div>
    }
</div>
