<!DOCTYPE html> 
<html> 
<head> 
    <title>@ViewBag.Title</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />
     @RenderSection("CSS", false)
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script>
        $(document).bind("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
        });

        $(document).ready(function () {
            $("a.submit-link").click(function (e) {
                e.preventDefault();
                $(this).closest("form").submit();
            })

            $("a.post-link").click(function (e) {
                e.preventDefault();
                $.post(this.href, function (data) {
                    location.reload(); 
                });
            })

            $("select.submit-dropdown").change(function (e) {
                e.preventDefault();
                $(this).closest("form").submit();
            })
        });
    </script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.localtime-0.5.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
</head> 
<body> 

<div data-role="page" data-theme="b">

    <div data-role="header">
        <div class="ui-bar">
            <h1 style="float:right;margin-top:5px;">Operations admin</h1>
            @Html.ActionLink(
                "Home", "Index", "Admin", new { Area = "AdminHome" },
                new { data_role = "button", data_icon = "home", @class = "ui_btn_left", })
            @Html.ActionLink(
                "Settings", "Index", "LoggingSettings", new { Area = "Framework" },
                new { data_role = "button", data_icon = "grid", @class = "ui_btn_right", })
            @Html.ActionLink(
                "Devices", "Index", "WinMetro", new { Area = "Ijv.Devices.Settings.Administration" },
                new { data_role = "button", data_icon = "grid", @class = "ui_btn_right", })
            @Html.ActionLink(
                "Environment", "Home", "EnvironmentConfig", new { Area = "Framework" },
                new { data_role = "button", data_icon = "gear", @class = "ui_btn_right", })
            @Html.ActionLink(
                "Raven", "Index", "RavenConfig", new { Area = "Framework" },
                new { data_role = "button", data_icon = "gear", @class = "ui_btn_right", })
        </div>
        @RenderSection("Subheader", false)
    </div><!-- /header -->

    <div data-role="content">
        @RenderBody()
    </div><!-- /content -->

    <div data-role="footer">
    </div><!-- /footer -->

</div><!-- /page -->

    @RenderSection("FooterScripts", false)

</body>
</html>
